/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team. this is a test if edits work

 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
    max-width: 80%;
    margin: 0 auto;
}

header {
    margin-top: 10px;
    text-align: center;
    border:solid;
}

header h1 {
    font-size: 40px;
    margin-bottom: 0;
}

header p {
    margin-top: 0;
    font-size: 25px;
}

.main-grid {
    display:grid;
    grid-template-columns:5fr 2fr;
    grid-template-rows:5fr 3fr;
    margin-top: 10px;
    grid-gap:10px;
    padding: 15px 25px;
    border: solid;
}

.input-results {
    max-width: 100%;
    text-align: center;
    border:solid;
    padding: 25px;
    position:relative;
}

.input-results-score, .input-results-teams, .input-results-scorers {
    display:flex;
    justify-content: space-around;
    align-items:center;
}

.input-results-teams {
    margin-top: 50px;
}

.input-results-container {
    max-width: 70%;
    margin: 0 auto;
}

.input-results-score {

}

.input-results-teams p {
    font-size: 70px;
    margin: 0px;
}



.input-results-score p{
    margin-top:0;
    font-size: 70px;
    font-weight:bolder;
}

.input-results-score p:first-child, .input-results-score p:last-child  {
        border:solid;
        padding: 0 17px;
}

.input-results-scorers select {
    width:180px;
}

.input-results-submit-score {
    display:flex;
    align-items:center;
    justify-content: space-around;
    max-width: 70%;
}

.input-results-submit-score ul {
    list-style-type: none;
}

.input-results-submit-score input[type=submit] {
    padding: 10px 25px;
    background-color: #fff;
    box-shadow:1px 2px;
    border:solid;
}

.poule {
    border:solid;
    grid-row:span 2;
}

.time-schedule {
    border:solid;
    overflow-y:scroll;
}

.input-result-tile-title {
    position: absolute;
    background-color: #fff;
    top: -31px;
    left: 40px;
    font-size: 22px;
}

/*------------------end-of---input-results------*/

.team-creator-container {
    max-width: 100%;
    margin: 0 auto;
    border:solid;
    margin-top: 10px;
    padding: 25px; 
}

.team-creator-flex {
    display:flex;
    justify-content:space-around;
    border:solid;  
}

.team-creator-flex div {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

.select-player {
    padding-bottom: 25px;
}

.select-player-flex {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

.submit-team input[type=submit] {
    padding: 10px 20px;
    background-color: #fff;
    border:solid;
    box-shadow:5px 5px;
}

.team-player-list {
    list-style-type: none;
}

.team-player-list div {
    display: flex;
    justify-content: space-between;
}

.team-player-list button {
    color: #F00;
    border:none;
    background-color: #fff;
    cursor:pointer;
}

/*--------Results-page-----------------*/

.results {
    border:solid;
}

.grid_container {
    background: #FF0000;
    display: grid;
    grid-template-columns: auto auto;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
